# Bin dir
build/
out/
CI/
CI_Android/
install/
Temporary/
doc/
/*.egg-info/
test/python/__pycache__/

# IDE dir
.vs/
.vscode/

*.swp

*.asv

/.venv*/
/vcpkg/
/vcpkg_installed/
/vcpkg-registry/

*.pyres
*.res

/urx/config.h

*.whl
